In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
training_data = pd.read_csv('../Data/train.csv')
# prueba = pd.read_csv('../Data/test.csv')
transacciones = pd.read_csv('../Data/transactions.csv')
oil = pd.read_csv('../Data/oil.csv')
eventos = pd.read_csv('../Data/holidays_events.csv')
tiendas = pd.read_csv('../Data/stores.csv')

## Data Analysis

### Training Data

In [3]:
training_data.head(3)

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0

In [4]:
row, columns = training_data.shape
print(f"Total number of rows: {row}")
print(f"Total number of columns: {columns}")

Total number of rows: 3000888
Total number of columns: 6

In [5]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

In [6]:
training_data.isna().sum()

id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64

#### Date

In [7]:
training_data["date"] = pd.to_datetime(training_data["date"])

In [8]:
group_date = training_data["date"].value_counts()
group_date.sort_index().head(5)

2013-01-01    1782
2013-01-02    1782
2013-01-03    1782
2013-01-04    1782
2013-01-05    1782
Name: date, dtype: int64

In [9]:
# Checking if all dates have the same amount of values
group_date[group_date != 1782].shape

(0,)

#### Store nbr

In [10]:
training_data["store_nbr"].value_counts().head(5)

1     55572
46    55572
36    55572
37    55572
38    55572
Name: store_nbr, dtype: int64

In [11]:
# Checking if all stores have the same amount of values
group_store = training_data["store_nbr"].value_counts()
group_store[group_store != 55572].shape

(0,)

#### Family

In [12]:
training_data["family"].value_counts().head(5)

AUTOMOTIVE                    90936
HOME APPLIANCES               90936
SCHOOL AND OFFICE SUPPLIES    90936
PRODUCE                       90936
PREPARED FOODS                90936
Name: family, dtype: int64

In [13]:
# Checking if all families have the same amount of values
group_family = training_data["family"].value_counts()
group_family[group_family != 90936].shape

(0,)

#### Sales

In [14]:
training_data[]

SyntaxError: invalid syntax (<ipython-input-14-1833ca34f06f>, line 1)